<div mat-subheader>Files</div>
<div *ngIf="files.length == 0">
  <mat-card-subtitle>
    <button mat-stroked-button disabled>
      <mat-icon color="warn">info</mat-icon> Not files
    </button>
  </mat-card-subtitle>
</div>
<mat-list-item class="pointer" *ngFor="let file of files">
  <button mat-stroked-button color="accent" aria-label="Download file">
    <mat-icon>get_app</mat-icon>
  </button>
  <mat-icon mat-list-icon color="accent">note</mat-icon>
  <div mat-line>{{ file }}</div>
</mat-list-item>
